body {
  background-color: Cornsilk;
}

h1 {
  color: BlueViolet;
  margin-left: 20px;
  font-family: Sofia, cursive;
}
.container{
  color:black;
  font-size:50;
  font-family:sans-s;
  text-align:center;
}

input[type=text], input[type=password] {
  width: 40%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type="submit"]{
  background-color: green;
  color: white;
  size:20px;
  margin: 5px 0;
  border:10px;
  cursor: pointer;
}